<div class="grid h-full">
    <!-- Columna del Logo -->
    <div class="col-3 flex flex-wrap align-items-center justify-content-center">
        <img src="../../../../assets/Uniguajira_logo.png" alt="Logo de Uniguajira" class="h-8rem py-3 px-5">
    </div>
    <!-- Columna del Título y Descripción -->
    <div class="col-7 flex flex-wrap align-items-center justify-content-center text-center">
        <div>
            <h1>Software Almacen</h1>
            <p>Aplicativo que permite llevar todo sistematizado ... !!!</p>
        </div>
    </div>
    <!-- Columna de la Imagen de Usuario -->
    <div class="col-2 flex flex-wrap align-items-center justify-content-center">
        <img src="../../../../assets/user.png" alt="Logo Usuario" class="h-8rem py-3 px-5">

    </div>
</div>
